.browseRecipeImg {
    width: 150px;
}

#recipeDock {
    height: 100px;
    width: 100%;
    background-color: #eee;
}

.recipeCard {
    display: flex;
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: #add8e6;
    border: 1px solid #000;
    z-index: 99;
}

.recipeCard button{
  width: 10px;
  height: 10px;
}

.dinnerBuddyMainDiv {
  width: 700px;
  display: grid;
}

/*
  DASHBOARD
*/
.dashboard {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
}

.dashboardButton {
  font-size: 16px;
}

/*
  CALENDAR
*/
.calendarDiv {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
  background-color: #ddd;
}

.dayDiv {

}

.dayDiv h4 {
  font-size: 18px;
}

.meaLabel {
  font-size: 14px;
}

.servingContainer {
    height: 50px;
    width: 100px;
    border: 1px solid #000;
}
