/*
  MealTime Calendar CSS
*/
.calendarDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 100px auto 100px auto 100px;
    grid-template-areas:
                        "Bl Bl Bl Bl Bl Bl Bl"
                        "sunb monb tueb wedb thub frib satb"
                        "Ll Ll Ll Ll Ll Ll Ll"
                        "sunl monl tuel wedl thul fril satl"
                        "Dl Dl Dl Dl Dl Dl Dl"
                        "sund mond tued wedd thud frid satd";

    height: calc(100vh - 250px);
    height: 100%;
    background-color: #ddd;
}

.mealDiv {
    border: 1px solid black;
}

.dayLabel {
    font-size: 11px;
    margin: 3px 0 0 3px;
}

/*
    breakfast
*/
.breakfastLabelDiv {
    grid-area: Bl;
    display: flex;
}

.breakfastLabelDiv p{
    align-self: end;
}

#SunBreakfast {
    grid-area: sunb;
}
#MonBreakfast {
    grid-area: monb;
}
#TueBreakfast {
    grid-area: tueb;
}
#WedBreakfast {
    grid-area: wedb;
}
#ThuBreakfast {
    grid-area: thub;
}
#FriBreakfast {
    grid-area: frib;
}
#SatBreakfast {
    grid-area: satb;
}

/*
    Lunch
*/
.lunchLabelDiv {
    display: flex;
    grid-area: Ll;
}

.lunchLabelDiv p {
    align-self: end;
}

#SunLunch {
    grid-area: sunl;
}
#MonLunch {
    grid-area: monl;
}
#TueLunch {
    grid-area: tuel;
}
#WedLunch {
    grid-area: wedl;
}
#ThuLunch {
    grid-area: thul;
}
#FriLunch {
    grid-area: fril;
}
#SatLunch {
    grid-area: satl;
}

/*
    Dinner
*/
.dinnerLabelDiv {
    display: flex;
    grid-area: Dl;
    align-self: center;
}
.dinnerLabelDiv p {
    align-self: end;
}

#SunDinner {
    grid-area: sund;
}
#MonDinner {
    grid-area: mond;
}
#TueDinner {
    grid-area: tued;
}
#WedDinner {
    grid-area: wedd;
}
#ThuDinner {
    grid-area: thud;
}
#FriDinner {
    grid-area: frid;
}
#SatDinner {
    grid-area: satd;
}

.mealLabel {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.servingContainer {
    border: 1px solid #000;
}
